html, body {
	height: 100%;
}
body {
	background: url(../imgs/whitey.jpg) repeat scroll 0 0 #fff;;
}

#floater {
	height: 150px;
	position: relative;
}

.login {
	margin: 0 auto;
	height: 404px;
	width: 753px;
	clear: both;
}

.login-main {
	background: url(../imgs/mainbox.png);
	width: 753px;
	height: 258px;
	margin-top: 30px;
}

.login-body {
	width: 410px;
	float: right;
}