<ion-view>
  <!--<ion-nav-buttons side="right">
    <button class="button" ng-click="loginOut()">
      退出
    </button>
  </ion-nav-buttons>-->
  <ion-nav-title>流程</ion-nav-title>
  <!--<div>111</div>-->
  <ion-content on-swipe-left="swipeLeft()" delegate-handle="mainScroll" on-swipe-right="swipeRight()" zooming="true">
    <ion-refresher pulling-text="刷新" on-refresh="refreshToDoList(this);">
    </ion-refresher>
    <ion-list>
      <form id="task_search">
        <div class="custom-select-fq" id="searchDefKey_s_task" style="display: none" >
          <div class="custom-select-se">
            <select id="searchDefKey_task"  ng-model="search.defKey_task">
              <optgroup ng-repeat="d in flowDef" label="{{d.label}}">
                <option ng-repeat="s in d.options" value="{{s.value}}">{{s.text}}</option>
              </optgroup>
            </select>
          </div>
          <i class="ion-ios-arrow-down"></i>
        </div>
        <div class="custom-select-fq" id="searchDefKey_s_ip" style="display: none">
          <div class="custom-select-se">
            <select id="searchDefKey_ip" ng-model="search.defKey_ip">

              <optgroup ng-repeat="d in flowDef" label="{{d.label}}">
                <option ng-repeat="s in d.options" value="{{s.value}}">{{s.text}}</option>
              </optgroup>
            </select>
          </div>
          <i class="ion-ios-arrow-down"></i>
        </div>
        <div class="custom-select-fq" id="searchDefKey_s_ipc" style="display: none">
          <div class="custom-select-se">
            <select id="searchDefKey_ipc" ng-model="search.defKey_ipc">

              <optgroup ng-repeat="d in flowDef" label="{{d.label}}">
                <option ng-repeat="s in d.options" value="{{s.value}}">{{s.text}}</option>
              </optgroup>
            </select>
          </div>
          <i class="ion-ios-arrow-down"></i>
        </div>
        <!--<div class="custom-select-fq" id="searchDefKey_s_notice" style="display: none">-->
          <!--<div class="custom-select-se">-->
            <!--<select id="searchDefKey_notice" ng-model="search.defKey_notice">-->
              <!--<optgroup label="请选择">-->
                <!--<option value="">-&#45;&#45;</option>-->
              <!--</optgroup>-->
              <!--<optgroup ng-repeat="d in flowDef" label="{{d.label}}">-->
                <!--<option ng-repeat="s in d.options" value="{{s.value}}">{{s.text}}</option>-->
              <!--</optgroup>-->
            <!--</select>-->
          <!--</div>-->
          <!--<i class="ion-ios-arrow-down"></i>-->
        <!--</div>-->
        <div id="search" class="bar item-input-inset bar-search" style="border: none;background: none" ng-intro-options="IntroOptions">
          <label class="item-input-wrapper label-serach">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-keyup="keyUp($event)" placeholder="发起人、任务摘要、单据号" ng-model="search.searchText">
          </label>
          <span class="span-search">
            <i ng-if="search.searchText != ''" ng-click="clearSearch()" class="icon ion-ios-close"></i>
          </span>
          <!--<button class="button button-clear"  ng-click="query()">查询</button>-->
        </div>
      </form>
      <div class="custom-scroll">
        <ion-scroll delegate-handle="small" direction="x">
          <div class="custom-tab task-tab" style="width: 400px;">
            <span id="tab_toDoTask" class="custom-nav active" ng-click="changeTaskTab('待办', 'toDoTask', $event)">待办({{pageInfo.allCount}})</span>
            <span id="tab_involvedProcess" class="custom-nav" ng-click="changeTaskTab('已办', 'involvedProcess', $event)">已办</span><!--({{pageInfo_ip.allCount}})-->
            <span id="tab_involvedProcessCompleted" class="custom-nav" ng-click="changeTaskTab('历史', 'involvedProcessCompleted', $event)">历史<!--({{pageInfo_ipc.allCount}})--></span>
            <span id="tab_agentUsers" class="custom-nav" ng-click="changeTaskTab('代理', 'agentUsers', $event)">代理({{agentTaskSum}})</span>
            <span id="tab_notice" class="custom-nav" ng-click="changeTaskTab('抄送', 'notice', $event)">抄送<!--({{pageInfo_notice.allCount}})--></span>
            <div style="clear: both"></div>
          </div>

        </ion-scroll>
      </div>


      <!-- 待办事项 -->
      <div ng-intro-options="IntroOptions" ng-intro-method="CallMe"
           ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
           ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
           ng-intro-onafterchange="AfterChangeEvent"
           ng-intro-autostart="ShouldAutoStart">
        <div ng-click="CallMe()" id="showIntrojs" style="display: none">123</div>
        <div id="toDoTask">
          <ion-item ng-repeat="item in todoList" ng-click="itemClick(item,'待办')"
                    class="{{($index + 1)%2 == 0 ? 'item odd' : 'item'}}" id="step{{$index}}">
            <div class="custom-split">
              <span>{{$index + 1}}</span>
              <span class="font14-black" ng-bind="item.NODENAME"></span>
              <span class="font12-999" ng-bind="item.FVALUE"></span>
              <span class="font12-999">- 流程:<span ng-bind="item.WFNAME"></span></span>
            </div>
            <div class="custom-split">
              <div class="font12-666">
                任务主题:<span ng-bind="item.DESCRIPTION"></span>
                <span class="arrive-time" ng-bind="item.CREATETIME"></span>
              </div>
            </div>
          </ion-item>
        </div>
      </div>
      <!--已办未完成-->
      <div id="involvedProcess" style="display: none">
        <ion-item ng-repeat="item in involvedProcess" ng-click="itemClick(item, '已办')"
                  class="{{($index + 1)%2 == 0 ? 'item odd' : 'item'}}">
          <div class="custom-split">
            <span>{{$index + 1}}</span>
            <span class="font14-black" ng-bind="item.subject"></span>
            <span class="font12-999" ng-bind="item.BIZ_KEY"></span>
            <span class="font12-999" ng-bind="item.startAuthor"></span>
            <span class="font12-999">- 流程:<span ng-bind="item.wfName"></span></span>
            <span class="font12-999" ng-bind="item.startTime">item.startTime</span>
          </div>
          <div class="custom-split">
            <div class="font12-666"><span data-ng-bind-html="item.nowNodeInfo"></span></div>
          </div>
        </ion-item>
      </div>
      <!--已办完成 历史-->
      <div id="involvedProcessCompleted" style="display: none">
        <ion-item ng-repeat="item in involvedProcessCompleted" ng-click="itemClick(item, '已办')"
                  class="{{($index + 1)%2 == 0 ? 'item odd' : 'item'}}">
          <div class="custom-split">
            <span>{{$index + 1}}</span>
            <span class="font14-black" ng-bind="item.subject"></span>
            <span class="font12-999" ng-bind="item.BIZ_KEY"></span>
            <span class="font12-999" ng-bind="item.startAuthor"></span>
            <span class="font12-999">- 流程:<span ng-bind="item.wfName"></span></span>
            <span class="font12-999" ng-bind="item.startTime">item.startTime</span>
          </div>
          <div class="custom-split">
            <div class="font12-666"><span data-ng-bind-html="item.nowNodeInfo"></span></div>
          </div>
        </ion-item>
      </div>
      <!-- 代理 -->
      <div id="agentUsers" style="display: none">
        <a class="{{($index + 1)%2 == 0 ? 'item odd' : 'item'}}" ng-click="goAgentList(item)" ng-repeat="item in agentInfo">
          <span>{{$index + 1}}</span>
          <span class="font14-black" ng-bind="item.username"></span>
          <span class="badge badge-assertive" ng-bind="item.count">0</span>
        </a>
      </div>
      <!-- 抄送 -->
      <div id="notice" style="display: none">
        <ion-item ng-repeat="item in notice" ng-click="itemClick(item, '抄送')"
                  class="{{($index + 1)%2 == 0 ? 'item odd' : 'item'}}">
          <div class="custom-split">
            <span>{{$index + 1}}</span>
            <span class="font14-black" ng-bind="item.description"></span>
            <span class="font12-999" ng-bind="item.BIZ_KEY"></span>
            <span class="font12-999" ng-bind="item.startAuthor"></span>
            <span class="font12-999">- 流程:<span ng-bind="item.wfName"></span></span>
            <span class="font12-999" ng-bind="item.startTime">item.startTime</span>
          </div>
          <div class="custom-split">
            <div class="font12-666"><span data-ng-bind-html="item.nowNodeInfo"></span></div>
          </div>
        </ion-item>
      </div>
    </ion-list>
    <ion-infinite-scroll
      icon="ion-loading-c"
      on-infinite="loadMore();"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
