<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="待办任务" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/todolist">
    <ion-nav-view name="tab-todolist"></ion-nav-view>
  </ion-tab>
  <ion-tab title="系统应用" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/applist">
    <ion-nav-view name="tab-applist"></ion-nav-view>
  </ion-tab>

  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/setting">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>

</ion-tabs>
